[submodule "content/themes/ghost-fdm-berlin"]
	path = content/themes/ghost-fdm-berlin
	url = https://github.com/PDXIII/ghost-fdm-berlin.git

[submodule "content/themes/Ghost-Theme-Template"]
	path = content/themes/https://github.com/PDXIII/Ghost-Theme-Template.git
	url = https://github.com/PDXIII/Ghost-Theme-Template.git

[submodule "content/themes/HuebnerWerner-Ghost-Theme"]
	path = content/themes/HuebnerWerner-Ghost-Theme.git
	url = https://github.com/PDXIII/HuebnerWerner-Ghost-Theme

[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/PDXIII/Casper-FormMailer.git
